{
  "openapi": "3.1.0",
  "info": {
    "title": "Neosantara AI API",
    "description": "OpenAI-compatible LLM Gateway",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.neosantara.xyz",
      "description": "Neosantara Production Gateway"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/mcp/audit-web": {
      "post": {
        "operationId": "postV1McpAuditWeb",
        "tags": [
          "MCP"
        ],
        "summary": "Run web audit for MCP",
        "description": "Runs a web audit through local E2B infrastructure, or forwards to configured upstream override.",
        "responses": {
          "200": {
            "description": "Audit result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/mcp/summarize-audit": {
      "post": {
        "operationId": "postV1McpSummarizeAudit",
        "tags": [
          "MCP"
        ],
        "summary": "Summarize audit report for MCP",
        "description": "Generates concise findings from a structured audit object using MCP-allowlisted models.",
        "responses": {
          "200": {
            "description": "Audit summary generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "mcp_audit_summary"
                    },
                    "model": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "object",
                    "model",
                    "summary"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "getV1Models",
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "description": "Lists the currently available models, and provides information about each one such as the owner and availability.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "provider",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "capability",
            "schema": {
              "type": "string",
              "enum": [
                "chat",
                "embeddings",
                "image_generation",
                "web_search",
                "function_calling"
              ]
            }
          },
          {
            "in": "query",
            "name": "include_deprecated",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "operationId": "postV1AudioTranscriptions",
        "tags": [
          "Audio"
        ],
        "summary": "Transcription",
        "description": "Transcribes audio into the input language.",
        "responses": {
          "200": {
            "description": "Successful transcription"
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The audio file object to transcribe."
                  },
                  "model": {
                    "type": "string",
                    "description": "ID of the model to use.",
                    "default": "whisper-large-v3-turbo"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-1 language code."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional guide text."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "json",
                      "text",
                      "verbose_json"
                    ],
                    "default": "json"
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0
                  }
                },
                "required": [
                  "file",
                  "model"
                ]
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from openai import OpenAI\n\nclient = OpenAI(\n    api_key='YOUR_NEOSANTARA_API_KEY',\n    base_url='https://api.neosantara.xyz/v1'\n)\n\naudio_file = open('speech.mp3', 'rb')\ntranscription = client.audio.transcriptions.create(\n    model='whisper-large-v3-turbo',\n    file=audio_file\n)\nprint(transcription.text)"
          },
          {
            "lang": "javascript",
            "label": "Node.js SDK",
            "source": "import fs from 'fs';\nimport OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: 'YOUR_NEOSANTARA_API_KEY',\n  baseURL: 'https://api.neosantara.xyz/v1'\n});\n\nconst transcription = await client.audio.transcriptions.create({\n  file: fs.createReadStream('speech.mp3'),\n  model: 'whisper-large-v3-turbo',\n});\nconsole.log(transcription.text);"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://api.neosantara.xyz/v1/audio/transcriptions \\\n  -H 'Authorization: Bearer YOUR_NEOSANTARA_API_KEY' \\\n  -F 'file=@speech.mp3' \\\n  -F 'model=whisper-large-v3-turbo'"
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "postV1ImagesGenerations",
        "tags": [
          "Images"
        ],
        "summary": "Create image",
        "description": "Creates an image given a prompt.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "b64_json": {
                            "type": "string"
                          },
                          "revised_prompt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "created",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "pattern": "^\\d+x\\d+$",
                    "default": "1024x1024"
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "default": "url"
                  },
                  "steps": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 20
                  },
                  "user": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "mask_image": {
                    "type": "string"
                  },
                  "mask_prompt": {
                    "type": "string"
                  },
                  "outpainting_mode": {
                    "type": "string",
                    "enum": [
                      "DEFAULT",
                      "PRECISE"
                    ]
                  },
                  "quality": {
                    "type": "string"
                  },
                  "style": {
                    "type": "string"
                  },
                  "strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from openai import OpenAI\n\nclient = OpenAI(\n    api_key='YOUR_NEOSANTARA_API_KEY',\n    base_url='https://api.neosantara.xyz/v1'\n)\n\nresponse = client.images.generate(\n    model='neosantara-gen-2045',\n    prompt='Pemandangan alam Indonesia yang indah',\n    n=1,\n    size='1024x1024'\n)\nprint(response.data[0].url)"
          },
          {
            "lang": "javascript",
            "label": "Node.js SDK",
            "source": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: 'YOUR_NEOSANTARA_API_KEY',\n  baseURL: 'https://api.neosantara.xyz/v1'\n});\n\nconst response = await client.images.generate({\n  model: 'neosantara-gen-2045',\n  prompt: 'Pemandangan alam Indonesia yang indah',\n  n: 1,\n  size: '1024x1024',\n});\nconsole.log(response.data[0].url);"
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "postV1ChatCompletions",
        "tags": [
          "Chat"
        ],
        "summary": "Create chat completion",
        "description": "Creates a model response for the given chat conversation. Supports sseStreaming and tool calling.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "chat.completion"
                    },
                    "created": {
                      "type": "number"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {}
                    },
                    "usage": {}
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "model",
                    "choices"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Model Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "developer",
                            "user",
                            "assistant",
                            "tool",
                            "function"
                          ]
                        },
                        "content": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "text"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ],
                                    "additionalProperties": true
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "input_text"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ],
                                    "additionalProperties": true
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "image_url"
                                      },
                                      "image_url": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "detail": {
                                                "type": "string",
                                                "enum": [
                                                  "auto",
                                                  "low",
                                                  "high"
                                                ],
                                                "default": "auto"
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ],
                                            "additionalProperties": true
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "additionalProperties": true
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "input_image"
                                      },
                                      "image_url": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string"
                                              },
                                              "detail": {
                                                "type": "string",
                                                "enum": [
                                                  "auto",
                                                  "low",
                                                  "high"
                                                ],
                                                "default": "auto"
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ],
                                            "additionalProperties": true
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "additionalProperties": true
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "file"
                                      },
                                      "file": {
                                        "type": "object",
                                        "properties": {
                                          "file_id": {
                                            "type": "string"
                                          },
                                          "file_data": {
                                            "type": "string"
                                          },
                                          "filename": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": true
                                      },
                                      "file_url": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          },
                                          "detail": {
                                            "type": "string",
                                            "enum": [
                                              "auto",
                                              "low",
                                              "high"
                                            ],
                                            "default": "auto"
                                          }
                                        },
                                        "required": [
                                          "url"
                                        ],
                                        "additionalProperties": true
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ],
                                    "additionalProperties": true
                                  }
                                ]
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "tool_call_id": {
                          "type": "string"
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "index": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string",
                                "default": "function"
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "arguments": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "arguments"
                                ],
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "function"
                            ],
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "role"
                      ],
                      "additionalProperties": true
                    },
                    "minItems": 1
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 0.7
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 128,
                    "default": 1
                  },
                  "stop": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "max_tokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "stream_options": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "include_usage": {
                        "type": "boolean"
                      },
                      "include_obfuscation": {
                        "type": "boolean"
                      }
                    }
                  },
                  "presence_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  },
                  "modalities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "text",
                        "audio"
                      ]
                    }
                  },
                  "audio": {
                    "type": "object",
                    "properties": {
                      "voice": {
                        "type": "string"
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "wav",
                          "mp3",
                          "flac",
                          "opus",
                          "pcm16"
                        ]
                      }
                    },
                    "required": [
                      "voice",
                      "format"
                    ]
                  },
                  "prediction": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "content"
                      },
                      "content": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "array",
                            "items": {}
                          }
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "content"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "store": {
                    "type": "boolean"
                  },
                  "prompt_cache_key": {
                    "type": "string"
                  },
                  "prompt_cache_retention": {
                    "type": "string",
                    "enum": [
                      "in-memory",
                      "24h"
                    ]
                  },
                  "reasoning_effort": {
                    "type": "string",
                    "enum": [
                      "none",
                      "minimal",
                      "low",
                      "medium",
                      "high",
                      "xhigh",
                      "max"
                    ]
                  },
                  "verbosity": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ]
                  },
                  "service_tier": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "default",
                      "flex",
                      "priority",
                      "scale"
                    ]
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "json_object",
                          "json_schema"
                        ]
                      },
                      "json_schema": {}
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "function"
                            },
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "strict": {
                                  "type": "boolean"
                                },
                                "requires_confirmation": {
                                  "type": "boolean"
                                },
                                "external_execution": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": true
                            }
                          },
                          "required": [
                            "type",
                            "function"
                          ],
                          "additionalProperties": true
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "web_search"
                            },
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "strict": {
                                  "type": "boolean"
                                },
                                "requires_confirmation": {
                                  "type": "boolean"
                                },
                                "external_execution": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "display_height_px": {
                              "type": "number"
                            },
                            "display_width_px": {
                              "type": "number"
                            },
                            "display_number": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "bash"
                            },
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "strict": {
                                  "type": "boolean"
                                },
                                "requires_confirmation": {
                                  "type": "boolean"
                                },
                                "external_execution": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "display_height_px": {
                              "type": "number"
                            },
                            "display_width_px": {
                              "type": "number"
                            },
                            "display_number": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "computer"
                            },
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "strict": {
                                  "type": "boolean"
                                },
                                "requires_confirmation": {
                                  "type": "boolean"
                                },
                                "external_execution": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "display_height_px": {
                              "type": "number"
                            },
                            "display_width_px": {
                              "type": "number"
                            },
                            "display_number": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "text_editor_20241022"
                            },
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "strict": {
                                  "type": "boolean"
                                },
                                "requires_confirmation": {
                                  "type": "boolean"
                                },
                                "external_execution": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "display_height_px": {
                              "type": "number"
                            },
                            "display_width_px": {
                              "type": "number"
                            },
                            "display_number": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "file_generation"
                            },
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "strict": {
                                  "type": "boolean"
                                },
                                "requires_confirmation": {
                                  "type": "boolean"
                                },
                                "external_execution": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "display_height_px": {
                              "type": "number"
                            },
                            "display_width_px": {
                              "type": "number"
                            },
                            "display_number": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "mcp"
                            },
                            "server_url": {
                              "type": "string",
                              "format": "uri"
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            },
                            "server_label": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "authorization_token": {
                              "type": "string"
                            },
                            "headers": {
                              "type": "object",
                              "additionalProperties": {}
                            },
                            "allowed_tools": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "require_approval": {}
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        }
                      ]
                    }
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "parameters": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "strict": {
                          "type": "boolean"
                        },
                        "requires_confirmation": {
                          "type": "boolean"
                        },
                        "external_execution": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "additionalProperties": true
                    }
                  },
                  "mcp_servers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "url"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "authorization_token": {
                          "type": "string"
                        },
                        "allowed_tools": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "url",
                        "name"
                      ],
                      "additionalProperties": true
                    }
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "function"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "function"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "allowed_tools"
                          },
                          "tools": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "const": "function"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "name"
                              ]
                            }
                          },
                          "mode": {
                            "type": "string",
                            "enum": [
                              "none",
                              "auto",
                              "required"
                            ],
                            "default": "auto"
                          }
                        },
                        "required": [
                          "type",
                          "tools"
                        ]
                      }
                    ]
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "default": true
                  },
                  "max_tool_calls": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  },
                  "reasoning": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "effort": {
                        "type": "string",
                        "enum": [
                          "none",
                          "minimal",
                          "low",
                          "medium",
                          "high",
                          "xhigh",
                          "max"
                        ]
                      },
                      "max_tokens": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      }
                    }
                  },
                  "web_search_options": {},
                  "user": {
                    "type": "string"
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "repetition_penalty": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 3
                  },
                  "top_k": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "min_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "echo": {
                    "type": "boolean"
                  },
                  "logit_bias": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    }
                  },
                  "logprobs": {
                    "type": "boolean",
                    "default": false
                  },
                  "top_logprobs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20
                  }
                },
                "required": [
                  "model",
                  "messages"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from openai import OpenAI\n\nclient = OpenAI(\n    api_key='YOUR_NEOSANTARA_API_KEY',\n    base_url='https://api.neosantara.xyz/v1'\n)\n\nresponse = client.chat.completions.create(\n    model='gemini-3.8-flash',\n    messages=[{'role': 'user', 'content': 'Halo, apa kabar?'}]\n)\nprint(response.choices[0].message.content)"
          },
          {
            "lang": "javascript",
            "label": "Node.js SDK",
            "source": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: 'YOUR_NEOSANTARA_API_KEY',\n  baseURL: 'https://api.neosantara.xyz/v1'\n});\n\nconst response = await client.chat.completions.create({\n  model: 'gemini-3.8-flash',\n  messages: [{ role: 'user', content: 'Halo, apa kabar?' }],\n});\nconsole.log(response.choices[0].message.content);"
          }
        ]
      }
    },
    "/v1/videos": {
      "post": {
        "operationId": "postV1Videos",
        "tags": [
          "Videos"
        ],
        "summary": "Create video job",
        "description": "Create a video generation job compatible with OpenAI-style Sora workflows.",
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "video"
                    },
                    "created_at": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "const": "queued"
                    },
                    "model": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "number"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "seconds": {
                      "type": "number"
                    },
                    "size": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created_at",
                    "status",
                    "model",
                    "progress",
                    "prompt",
                    "seconds",
                    "size"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "input_reference": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "1280x720",
                      "720x1280",
                      "1024x1024",
                      "480x854",
                      "854x480"
                    ],
                    "default": "1280x720"
                  },
                  "seconds": {
                    "type": "string",
                    "enum": [
                      "5",
                      "9"
                    ],
                    "default": "5"
                  },
                  "video_style": {
                    "type": "string"
                  },
                  "emotional_atmosphere": {
                    "type": "string"
                  },
                  "mirror_mode": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{video_id}": {
      "get": {
        "operationId": "getV1VideosByVideoId",
        "tags": [
          "Videos"
        ],
        "summary": "Retrieve video job",
        "description": "Get the current status and metadata for a previously created video job.",
        "responses": {
          "200": {
            "description": "Video job found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "video"
                    },
                    "created_at": {
                      "type": "number"
                    },
                    "completed_at": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "number"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "seconds": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "size": {
                      "type": "string"
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created_at",
                    "completed_at",
                    "status",
                    "model",
                    "progress",
                    "prompt",
                    "seconds",
                    "size",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Video not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "video_id",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{video_id}/content": {
      "get": {
        "operationId": "getV1VideosByVideoIdContent",
        "tags": [
          "Videos"
        ],
        "summary": "Download generated video",
        "description": "Redirect to the generated video content once the video job is completed.",
        "responses": {
          "302": {
            "description": "Redirect to generated video content"
          },
          "404": {
            "description": "Video not ready or not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "param": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "video_id",
            "required": true
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/ocr": {
      "post": {
        "operationId": "postV1Ocr",
        "tags": [
          "Vision"
        ],
        "summary": "OCR Extraction",
        "description": "Extract text from images using advanced OCR models.",
        "responses": {
          "200": {
            "description": "Successful OCR extraction"
          },
          "400": {
            "description": "Invalid image or model"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "default": "deepseek-ocr"
                  },
                  "image": {
                    "type": "string"
                  },
                  "image_type": {
                    "type": "string",
                    "enum": [
                      "url",
                      "base64"
                    ],
                    "default": "url"
                  },
                  "return_image": {
                    "type": "boolean",
                    "default": false
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "postV1Responses",
        "tags": [
          "Responses"
        ],
        "summary": "Generate a response",
        "description": "Create a response using the specified model and instructions.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "response"
                    },
                    "created_at": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "model": {
                      "type": "string"
                    },
                    "output": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "redacted_thinking"
                              },
                              "id": {
                                "type": "string"
                              },
                              "data": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "data"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "reasoning"
                              },
                              "id": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "const": "summary_text"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "text"
                                  ]
                                }
                              },
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "encrypted_content": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "id"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "message"
                              },
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "in_progress",
                                  "completed",
                                  "failed"
                                ]
                              },
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "output_text"
                                        },
                                        "text": {
                                          "type": "string"
                                        },
                                        "annotations": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "text"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "input_text"
                                        },
                                        "text": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "text"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "input_image"
                                        },
                                        "image_url": {
                                          "type": "string"
                                        },
                                        "file_id": {
                                          "type": "string"
                                        },
                                        "detail": {
                                          "type": "string",
                                          "enum": [
                                            "auto",
                                            "low",
                                            "high"
                                          ],
                                          "default": "auto"
                                        },
                                        "fidelity": {
                                          "type": "string",
                                          "enum": [
                                            "auto",
                                            "low",
                                            "high"
                                          ],
                                          "default": "auto"
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "input_file"
                                        },
                                        "file_id": {
                                          "type": "string"
                                        },
                                        "file_data": {
                                          "type": "string"
                                        },
                                        "file_url": {
                                          "type": "string"
                                        },
                                        "filename": {
                                          "type": "string"
                                        },
                                        "detail": {
                                          "type": "string",
                                          "enum": [
                                            "low",
                                            "high"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    }
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "role",
                              "content"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "function_call"
                              },
                              "id": {
                                "type": "string"
                              },
                              "call_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "arguments": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "in_progress",
                                  "completed",
                                  "incomplete"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "call_id",
                              "name",
                              "arguments"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "function_call_output"
                              },
                              "id": {
                                "type": "string"
                              },
                              "call_id": {
                                "type": "string"
                              },
                              "output": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "object",
                                    "additionalProperties": {}
                                  }
                                ]
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "in_progress",
                                  "completed",
                                  "incomplete"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "call_id"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "compaction"
                              },
                              "id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "encrypted_content": {
                                "type": "string"
                              },
                              "created_by": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "encrypted_content"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "mcp_list_tools"
                              },
                              "id": {
                                "type": "string"
                              },
                              "server_label": {
                                "type": "string"
                              },
                              "tools": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "input_schema": {
                                      "type": "object",
                                      "additionalProperties": {}
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "input_schema"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "server_label",
                              "tools"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "mcp_approval_request"
                              },
                              "id": {
                                "type": "string"
                              },
                              "server_label": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "arguments": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "server_label",
                              "name",
                              "arguments"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "mcp_approval_response"
                              },
                              "id": {
                                "type": "string"
                              },
                              "approval_request_id": {
                                "type": "string"
                              },
                              "approve": {
                                "type": "boolean"
                              },
                              "reason": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "id",
                              "approval_request_id",
                              "approve"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "code_interpreter"
                              },
                              "id": {
                                "type": "string"
                              },
                              "code_interpreter": {
                                "type": "object",
                                "properties": {
                                  "input": {
                                    "type": "string"
                                  },
                                  "sandbox_id": {
                                    "type": "string"
                                  },
                                  "outputs": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "logs"
                                            },
                                            "logs": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "logs"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "const": "image"
                                            },
                                            "image": {
                                              "type": "object",
                                              "properties": {
                                                "file_id": {
                                                  "type": "string"
                                                },
                                                "base64": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "image"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
[...]
